In [1]:
import os
import pandas as pd
import re

In [2]:
path = r'C:\Users\zzhan\OneDrive\Desktop\CapstoneGoogle\CyclisticBikeSharingProgram\Data'
file_extension = '.csv'
csv_file_list = []
for root, dirs, files in os.walk(path):
    for name in files:
        if '__MACOSX' in root:
            pass
        else:
            if name.endswith(file_extension) and "rip" in name:
                file_path = os.path.join(root, name)
                csv_file_list.append(file_path)

In [3]:
dfs=[]
for i in range(len(csv_file_list)):
    csv_file_name = re.compile(r'20\d\d')
    data_year = csv_file_name.search(csv_file_list[i]).group()
    df=pd.read_csv(csv_file_list[i])
    df['data_year'] = data_year
    dfs.append(df)

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
for df in dfs:
    display(df.head())

In [5]:
df_cols={}
for df in dfs:
    df_cols[str(df.columns.tolist())]=True
df_cols

{"['ride_id', 'rideable_type', 'started_at', 'ended_at', 'start_station_name', 'start_station_id', 'end_station_name', 'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng', 'member_casual', 'data_year']": True,
 "['trip_id', 'starttime', 'stoptime', 'bikeid', 'tripduration', 'from_station_id', 'from_station_name', 'to_station_id', 'to_station_name', 'usertype', 'gender', 'birthday', 'data_year']": True,
 "['trip_id', 'starttime', 'stoptime', 'bikeid', 'tripduration', 'from_station_id', 'from_station_name', 'to_station_id', 'to_station_name', 'usertype', 'gender', 'birthyear', 'data_year']": True,
 "['trip_id', 'start_time', 'end_time', 'bikeid', 'tripduration', 'from_station_id', 'from_station_name', 'to_station_id', 'to_station_name', 'usertype', 'gender', 'birthyear', 'data_year']": True,
 "['01 - Rental Details Rental ID', '01 - Rental Details Local Start Time', '01 - Rental Details Local End Time', '01 - Rental Details Bike ID', '01 - Rental Details Duration In Seconds Uncapped', '03 - Rental Start Station ID', '03 - Rental Start Station Name', '02 - Rental End Station ID', '02 - Rental End Station Name', 'User Type', 'Member Gender', '05 - Member Details Member Birthday Year', 'data_year']": True}

In [6]:
col_name_map={'trip_id':'ride_id',
         'ride_id':'ride_id',
         '01 - Rental Details Rental ID':'ride_id',
         
         'rideable_type':'rideable_type',
         
         'started_at':'start_time',
         'starttime':'start_time',
         'start_time':'start_time',
         '01 - Rental Details Local Start Time':'start_time',
         
         'ended_at':'end_time',
         'stoptime':'end_time',
         'end_time':'end_time',
         '01 - Rental Details Local End Time':'end_time',
         
         'tripduration':'trip_duration',
         '01 - Rental Details Duration In Seconds Uncapped':'trip_duration',
              
         'bikeid':'bike_id',
         '01 - Rental Details Bike ID':'bike_id',
         
         'start_station_name':'start_station_name',
         'from_station_name':'start_station_name',
         '03 - Rental Start Station Name':'start_station_name',
         
         'start_station_id':'start_station_id',
         'from_station_id':'start_station_id',
         '03 - Rental Start Station ID':'start_station_id',
         
         'end_station_name':'end_station_name',
         'to_station_name':'end_station_name',
         '02 - Rental End Station Name':'end_station_name',
              
         'end_station_id':'end_station_id',
         'to_station_id':'end_station_id',
         '02 - Rental End Station ID':'end_station_id',
              
         'gender':'gender',
         'Member Gender':'gender',
              
         'birthday':'birth_year',
         'birthyear':'birth_year',
         '05 - Member Details Member Birthday Year':'birth_year',

         'member_casual':'member_type',
         'usertype':'member_type',
         'User Type':'member_type',
              
         'data_year':'data_year',
              
         'start_lat':'start_lat',
         'start_lng':'start_lng',
         'end_lat':'end_lat', 
         'end_lng':'end_lng'
        
        }

In [7]:
selected_cols=list(set(col_name_map.values()))

In [8]:
selected_cols

['ride_id',
 'bike_id',
 'member_type',
 'start_lat',
 'trip_duration',
 'rideable_type',
 'birth_year',
 'start_time',
 'data_year',
 'start_station_name',
 'gender',
 'start_lng',
 'end_station_id',
 'end_lat',
 'end_lng',
 'start_station_id',
 'end_time',
 'end_station_name']

In [ ]:
for df in dfs:
    df.rename(columns = col_name_map, inplace = True)
    display(df.head())

In [10]:
df_all = pd.concat(dfs)

In [11]:
df_all.shape

(31067208, 18)

In [12]:
df_all_expected=df_all[selected_cols]

In [13]:
df_all_expected.shape

(31067208, 18)

In [14]:
df_all_expected.head()

,ride_id,bike_id,member_type,start_lat,trip_duration,rideable_type,birth_year,start_time,data_year,start_station_name,gender,start_lng,end_station_id,end_lat,end_lng,start_station_id,end_time,end_station_name
0,A847FADBBC638E45,NaN,member,41.8964,NaN,docked_bike,NaN,2020-04-26 17:45:14,2020,Eckhart Park,NaN,-87.6610,152.0,41.9322,-87.6586,86,2020-04-26 18:12:03,Lincoln Ave & Diversey Pkwy
1,5405B80E996FF60D,NaN,member,41.9244,NaN,docked_bike,NaN,2020-04-17 17:08:54,2020,Drake Ave & Fullerton Ave,NaN,-87.7154,499.0,41.9306,-87.7238,503,2020-04-17 17:17:03,Kosciuszko Park
2,5DD24A79A4E006F4,NaN,member,41.8945,NaN,docked_bike,NaN,2020-04-01 17:54:13,2020,McClurg Ct & Erie St,NaN,-87.6179,255.0,41.8679,-87.6230,142,2020-04-01 18:08:36,Indiana Ave & Roosevelt Rd
3,2A59BBDF5CDBA725,NaN,member,41.9030,NaN,docked_bike,NaN,2020-04-07 12:50:19,2020,California Ave & Division St,NaN,-87.6975,657.0,41.8992,-87.6722,216,2020-04-07 13:02:31,Wood St & Augusta Blvd
4,27AD306C119C6158,NaN,casual,41.8902,NaN,docked_bike,NaN,2020-04-18 10:22:59,2020,Rush St & Hubbard St,NaN,-87.6262,323.0,41.9695,-87.6547,125,2020-04-18 11:15:54,Sheridan Rd & Lawrence Ave

In [15]:
df_all_expected.to_csv('df_all_before_cleaning.csv',index=False)